{
  "extends": ["prettier"],
  "rules": {
    "indent": [
      "warn", // エラーではなく警告に変更
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["warn", "unix"], // エラーではなく警告に変更
    "quotes": [
      "warn", // エラーではなく警告に変更
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true } // テンプレートリテラルとエスケープされたシングルクオートを許可
    ],
    "semi": ["warn", "always"] // エラーではなく警告に変更
  }
}
