[
  {
    "configname": "buntinjp",
    "username": "BuntinJP",
    "gitconfigPath": "/Users/buntin/.gitconfig.buntinjp",
    "secKeyPath": "/Users/buntin/ssh/keys/github_buntinjp",
    "pubKeyPath": "/Users/buntin/ssh/keys/github_buntinjp.pub"
  },
  {
    "configname": "buntinliz",
    "username": "Buntin-Liz",
    "gitconfigPath": "/Users/buntin/.gitconfig.buntinliz",
    "secKeyPath": "/Users/buntin/ssh/keys/github_buntinliz",
    "pubKeyPath": "/Users/buntin/ssh/keys/github_buntinliz.pub"
  }
]